body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    margin-top: 64px !important;
}

.following.bar {
    z-index: 1000;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    height: 64px;
    line-height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff!important;
    color: #2196F3 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    will-change: left,right;
    border: none;
}

.following.bar #navbar {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    height: 64px;
    line-height: 64px;
}

.gt-sb > * > img {
    justify-content: space-between!important;
    border: 0px solid #fff !important;
    border-radius: 5px !important;
    width: 32px !important;
    height: 32px !important;
}